<a href="https://colab.research.google.com/github/AnkitDimri/DS-project-glassdoor_jobs/blob/main/model_building_GD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv ("glassdoor_cleaned_data (1).csv")

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Min salary', 'Max salary', 'Employer Provided Salary', 'Per Hour',
       'Avg sal', 'loc_hq', 'state', 'age', 'Python', 'r', 'aws', 'spark',
       'exel', 'excel', 'job_simp', 'seniority', 'num_comp'],
      dtype='object')

In [7]:
df_model = df [["Avg sal", "Rating", "Size", "Type of ownership", "Industry", "Sector", "Revenue", "num_comp", "Per Hour", "Employer Provided Salary", 
                "state", "loc_hq", "Python", "aws", "spark", "excel", "job_simp", "seniority", ]]

In [8]:
df_model

     Avg sal  Rating                    Size  ... excel        job_simp seniority
0       72.0     3.8   501 to 1000 employees  ...     1  data scientist        na
1       87.5     3.4        10000+ employees  ...     0  data scientist        na
2       85.0     4.8   501 to 1000 employees  ...     1  data scientist        na
3       76.5     3.8  1001 to 5000 employees  ...     0  data scientist        na
4      114.5     2.9     51 to 200 employees  ...     1  data scientist        na
..       ...     ...                     ...  ...   ...             ...       ...
737     84.5     3.9        10000+ employees  ...     0              na    senior
738    102.5     4.4  1001 to 5000 employees  ...     0   data engineer    senior
739     73.5     2.6   501 to 1000 employees  ...     1              na        na
740    127.5     3.2       1 to 50 employees  ...     1         manager        na
741     93.5     3.6   501 to 1000 employees  ...     0              na        na

[742 rows x 18 columns]

In [9]:
df_dum = pd.get_dummies (df_model)

In [10]:
df_dum

     Avg sal  Rating  num_comp  ...  seniority_jr  seniority_na  seniority_senior
0       72.0     3.8         0  ...             0             1                 0
1       87.5     3.4         0  ...             0             1                 0
2       85.0     4.8         0  ...             0             1                 0
3       76.5     3.8         3  ...             0             1                 0
4      114.5     2.9         3  ...             0             1                 0
..       ...     ...       ...  ...           ...           ...               ...
737     84.5     3.9         3  ...             0             0                 1
738    102.5     4.4         3  ...             0             0                 1
739     73.5     2.6         0  ...             0             1                 0
740    127.5     3.2         0  ...             0             1                 0
741     93.5     3.6         0  ...             0             1                 0

[742 rows x 176 columns]

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x = df_dum.drop ("Avg sal", axis = 1)
y = df_dum ["Avg sal"].values
X_train, X_test, Y_train, Y_test = train_test_split (x, y, test_size = 0.2, random_state = 42)